//背景色
$color-background-f6 = #f6f6f6
$color-background-ff = #ffffff
$color-background-9D = #9D9E9E

// 主题色（橙）
$color-theme-o = #FC0E30

//背景颜色默认
$color-main-back = #F4F2F3
// 主题色-文字（黑）
$color-theme-text-b = #000000

// 主题色-文字（灰）
$color-theme-text-h = #9D9E9E

// 主题色-文字（橙）
$color-theme-text-o = #FE5102

$color-theme-text-g =  #FED1B2
//边框的颜色
$color-theme-border = #BABBBB
//线条的颜色
$color-theme-line = #D1D2D3
//白色背景
$color-theme-backWhite = white
//红色文字
$color-theme-text-r = #D84A58

$border-radius = 4px
$border-radius-large = 45px


//字体定义规范
$font-size-small-s = 7px
$font-size-small = 9px
$font-size-small-x = 10px
$font-size-medium-s = 12px
$font-size-medium = 14px
$font-size-medium-x = 18px
//$font-size-large = 32px
//$font-size-large-x = 36px

//定义字体粗细
$font-weight-s = 200
$font-weight-m = 400
$font-weight-x = 600
$font-weight-xx = 800


//左右边距
$left-right-margin = 3%

