@import "variable.styl"

.back-border {
  background $color-theme-backWhite
  border-radius $border-radius
  //border 1px /*no*/ solid $color-theme-border
  margin 0 4px
  box-shadow 0 0 5px $color-theme-border
}
.back-border-notcomplete {
  background $color-theme-backWhite
  border-radius $border-radius
  //border 1px /*no*/ solid $color-theme-border
  margin 0 4px
  // box-shadow  -10px 0px 0 red

}