.price-z {
  font-size 16px;
  font-weight 500;
}
.price-x {
  font-size 12px;
  font-weight 500;
}

.price-max-b {
  font-size 24px;
  font-weight 500;
}
.price-z-b {
  font-size 18px;
  font-weight 500;
}
.price-x-b {
  font-size 14px;
  font-weight 500;
}

.font-small {
  font-size 10px;
}


.price-zheng {
  font-size 32px;
  font-weight 500
}
.price-small {
  font-size 16px;
  font-weight 500
}
