// 渐变颜色
$color-gradient-start = #0096FD
$color-gradient-end = #005D9B
// 颜色定义规范
$color-theme = #068ED0
$color-gray = #999999
$color-sub-theme = #005d9c
$color-border = #e3e5e9
$color-text = #222222
$color-text-price = #f62e2e
$color-text-d = rgba(255, 255, 255, 0.3)
$color-text-gray = #888888
$color-text-ll = rgba(255, 255, 255, 0.8)
// 线条颜色
$color-line-gray-l = #ddd
//全局背景色
$color-background = #f0f0f0
$color-background-d = #efefef
//字体定义规范
$font-size-10 = 10px
$font-size-12 = 12px
$font-size-14 = 14px
$font-size-15 = 15px
$font-size-16 = 16px
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium-s = 13px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
// 底部导航留白
$footer-height = 55px
// 进度条颜色
$color-progress = #098CE6
.virtual__dom{
  color: #ffffff
}