.chum-public-btn {
	.van-button {
    height 49px;
  }
  .van-button__text {
    font-size 18px;
    color #E0C28A
    font-weight 700
  }
}
.no-result-message {
  font-size: 13px;
  color #9FA0A0
  text-align: center;
  margin-top: 30px;
}