// 白色主题（新商城）
.theme_sys_base {
  // 背景-纯白

  .theme_bg_white {
    background-color white
  }

  .theme_bg_white_i {
    background-color white !important
  }

  // 背景-黑色

  .theme_bg_black {
    background-color #000000
  }

  .theme_bg_black_i {
    background-color #000000 !important
  }

  // 背景-f5f5f5

  .theme_bg_white_f5 {
    background-color #f5f5f5
  }

  .theme_bg_white_f5_i {
    background-color #f5f5f5 !important
  }

  // 背景-efefef

  .theme_bg_white_ef {
    background-color #efefef
  }

  .theme_bg_white_ef_i {
    background-color #efefef !important
  }

  // 背景-efefef

  .theme_bg_yl {
    background-color #FAF8D5
  }

  .theme_bg_yl_i {
    background-color #FAF8D5 !important
  }

  // 背景-efefef

  .theme_bg_y {
    background-color #F5cF00
  }

  .theme_bg_y_i {
    background-color #F5cF00 !important
  }

  // 背景-dark

  .theme_bg_dark {
    background-color #DDDDDD
  }

  .theme_bg_dark_i {
    background-color #DDDDDD !important
  }

  // 背景-d dark

  .theme_bg_dark_d {
    background-color #999
  }

  .theme_bg_dark_d_i {
    background-color #999 !important
  }

  // 背景-红

  .theme_bg_red {
    // background-color #F80F16
    background linear-gradient(90deg, #E5165A 0%, #FF6094 100%)
  }

  .theme_bg_red_i {
    // background-color #F80F16 !important
    background linear-gradient(90deg, #E5165A 0%, #FF6094 100%) !important
  }

  //背景 - 玫红
  .theme_bg_rose_red {
    background: linear-gradient(90deg, #E5165A 0%, #FF6094 100%);

  }

  // 背景-蓝

  .theme_bg_blue {
    background-color #009df8
  }

  .theme_bg_blue_i {
    background-color #009df8 !important
  }

  // 背景-橘色

  .theme_bg_orange {
    background-color #f08160
  }

  .theme_bg_orange_i {
    background-color #f08160 !important
  }

  //非常浅的红色

  .theme_bg_ml_red {
    background-color #fafafa
  }

  .theme_bg_ml_red_i {
    background-color #fafafa !important
  }

  // 背景-浅红

  .theme_bg_light_red {
    background-color #FDE8E9
  }

  .theme_bg_light_red_i {
    background-color #FDE8E9 !important
  }

  // 背景-浅蓝

  .theme_bg_light_blue {
    background-color #4D84D9
  }

  .theme_bg_light_blue_i {
    background-color #4D84D9 !important
  }

  // 文字-黑

  .theme_font_black {
    color #1a1a1a
  }

  .theme_font_black_i {
    color #1a1a1a !important
  }

  // 文字-常规黑

  .theme_font_common {
    color #333333
  }

  .theme_font_common_i {
    color #333333 !important
  }

  // 文字-灰

  .theme_font_gray {
    color #666666
  }

  .theme_font_gray_i {
    color #666666 !important
  }

  // 文字-常规黑

  .theme_font_tint {
    color #999999
  }

  .theme_font_tint_i {
    color #999999 !important
  }

  // 文字 - 玫红色
  .theme_font_rose_tint {
    color #E5165A
  }

  // 文字-浅蓝

  .theme_font_light_blue {
    color #4D84D9
  }

  .theme_font_light_blue_i {
    color #4D84D9 !important
  }

  // 文字-白

  .theme_font_white {
    color #ffffff
  }

  .theme_font_white_i {
    color #ffffff !important
  }

  // 文字-红

  .theme_font_red {
    // #F80F16
    color #E5165A
  }

  .theme_font_red_i {
    // #F80F16
    color #E5165A !important
  }

  //文字-玫红
  .theme_font_rose_red {
    color #E5165A
  }

  // 文字-蓝

  .theme_font_bule {
    color #009df8
  }

  .theme_font_blue_i {
    color #009df8 !important
  }

  // 边线-红

  .theme_border_red {
    border-color #E5165A
    &.theme_border_red:before {
      border-color #E5165A
    }
  }

  .theme_border_red_i {
    border-color #E5165A !important
    &.theme_border_red_i:before {
      border-color #E5165A !important
    }
  }

  // 边框-灰

  .theme_border_light {
    border-color #ddd
    &.theme_border_light:before {
      border-color #ddd
    }
  }

  .theme_border_light_i {
    border-color #ddd !important
    &.theme_border_light_i:before {
      border-color #ddd !important
    }
  }

  // 边框-灰

  .theme_border_gray {
    border-color #a1a1a1
    &.theme_border_gray:before {
      border-color #a1a1a1
    }
  }

  .theme_border_gray_i {
    border-color #a1a1a1 !important
    &.theme_border_gray_i:before {
      border-color #a1a1a1 !important
    }
  }

  .theme_border_light_red {
    border-color #FDE8E9
    &.theme_border_light_red:before {
      border-color #FDE8E9
    }
  }

  .theme_border_light_red_i {
    border-color #FDE8E9 !important
    &.theme_border_light_red_i:before {
      border-color #FDE8E9 !important
    }
  }

  // $theme_color = #F80F16
  $theme_color = #E5165A
  $theme_color_l = #fafafa

  .theme_standard_font {
    color $theme_color
  }

  .theme_standard_font_i {
    color $theme_color !important
  }

  .theme_standard_bg {
    background-color $theme_color
  }

  .theme_standard_bg_i {
    background-color $theme_color !important
  }

  .theme_standard_bdr {
    border-color $theme_color
    &.theme_standard_bdr:before {
      border-color $theme_color
    }
  }

  .theme_standard_bdr_i {
    border-color $theme_color !important
    &.theme_standard_bdr_i:before {
      border-color $theme_color !important
    }
  }

  .theme_light_font {
    color $theme_color_l
  }

  .theme_light_font_i {
    color $theme_color_l !important
  }

  .theme_light_bg {
    background-color $theme_color_l
  }

  .theme_light_bg_i {
    background-color $theme_color_l !important
  }

  .theme_light_bdr {
    border-color $theme_color_l
    &.theme_light_bdr:before {
      border-color $theme_color_l
    }
  }

  .theme_light_bdr_i {
    border-color $theme_color_l !important
    &.theme_light_bdr_i:before {
      border-color $theme_color_l !important
    }
  }

  //按钮-背景
  .theme_btn_bg {
    background: linear-gradient(90deg, #E5165A 0%, #FF6094 100%);
  }


}

