@import "~@/common/stylus/variable.styl"
.re-btn {
  text-align center
  background: $color-theme-r
  color: #fff
  font-size: 16px
  position fixed
  bottom: 0
  left: 0
  right: 0
  z-index 10;
  height 44px;
  line-height:44px;
}
.phone-bill {
  font-size: 16px
  text-align right
  margin-right: 10px
}
