@import "variable.styl"


.van-swipe-cell__right {
  left: 100%;
  transform: none;
}

.dialog-big-message {
  padding-left 20px;
  padding-right 20px;
  .van-dialog__content {
    .van-dialog__message {
      font-size 14px;
      color black;
    }
  }
}
.van-password-input [class*=van-hairline]::after {
  border-color #d0d0d0;
}

