@import "variable.styl"

.font-small {
  font-size $font-size-small
}
.font-small-l {
  font-size $font-size-small
}
.font-medium-s {
  font-size $font-size-medium-s
  color $color-text
  letter-spacing 0.03em
  line-height $font-size-medium-s + 6px
}
.font-medium-l-s {
  font-size $font-size-medium-s
  color $color-text-l
  letter-spacing 0.03em
  line-height $font-size-medium-s + 6px
}
.font-medium {
  font-size $font-size-medium
  color $color-text
  letter-spacing 0.03em
  line-height $font-size-medium + 6px
}
.font-medium-l {
  font-size $font-size-medium
  color $color-text-l
  letter-spacing 0.03em
  line-height $font-size-medium + 6px
}
.font-medium-x {
  font-size $font-size-medium-x
  color $color-text
  letter-spacing 0.03em
  line-height $font-size-medium-x + 6px
}
.font-medium-l-x {
  font-size $font-size-medium-x
  color $color-text-l
  letter-spacing 0.03em
  line-height $font-size-medium-x + 6px
}
.font-medium-x-w {
  font-size $font-size-medium-x
  color $color-text
  letter-spacing 0.03em
  line-height $font-size-medium-x + 6px
  font-weight $font-weight-x
}
