// 颜色定义规范
$color-background-b = #1a1a1a
$color-background = #666
$color-background-l = #999
$color-background-ll = #ddd
$color-background-lll = #eee

// 线条颜色
$color-line-gray-l = #ddd

// 主题色（橙）
$color-theme-o = #f44981
// 主题色-文字（深）
$color-theme-text-d = #FA6C00
// 主题色-文字（浅）
$color-theme-text-l = #FB982F
// 主题色-按钮（深）
$color-theme-btn-d = #FA871A
// 主题色-按钮（浅）
$color-theme-btn-l = #F8AB00

// 主题色（红）
$color-theme-r = #F80F16


$color-text = #1a1a1a
$color-text-d = #666
$color-text-l = #898989
$color-text-ll = #ddd
$color-text-lll = #e0e0e0

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium-s = 13px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

$font-size-large-xxx = 34px

//定义字体粗细
$font-weight-s = 200
$font-weight-m = 400
$font-weight-x = 600
$font-weight-xx = 800

$nav-height = 44px


//左右边距
$left-right-margin = 3%

